<div class="hero-scene text-center text-white">
  <div class="hero-scene-content">
      <h1>Inscription</h1>
  </div>
</div>

<div class="container">
  <form id="formulaireInscription">
      <div class="mb-3">
          <label for="NomInput" class="form-label">Nom</label>
          <input type="text" class="form-control" id="NomInput" placeholder="Votre nom" name="Nom" required>
          <div class="invalid-feedback">
              Le nom est obligatoire !
          </div>
      </div>

      <div class="mb-3">
          <label for="PrenomInput" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="PrenomInput" placeholder="Votre prénom" name="Prenom" required>
          <div class="invalid-feedback">
              Le prénom est obligatoire !
          </div>
      </div>

      <div class="mb-3">
          <label for="RoleInput" class="form-label">Titre</label>
          <input type="text" class="form-control" id="RoleInput" placeholder="Votre rôle" name="Role" value="ROLE_EMPLOYER" disabled>
      </div>

      <div class="mb-3">
          <label for="creditsInput" class="form-label">Crédits</label>
          <input type="number" class="form-control" id="creditsInput" placeholder="Vos crédits" name="Credits" value="" disabled>
      </div>

      <div class="mb-3">
          <label for="EmailInput" class="form-label">Email</label>
          <input type="email" class="form-control" id="EmailInput" placeholder="Votre email" name="Email" required>
          <div class="invalid-feedback">
              Adresse email invalide !
          </div>
      </div>

      <div class="mb-3">
          <label for="PasswordInput" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="PasswordInput" name="Password" required>
          <div class="invalid-feedback">
              Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.
          </div>
      </div>

      <div class="mb-3">
          <label for="ValidatePasswordInput" class="form-label">Confirmez votre mot de passe</label>
          <input type="password" class="form-control" id="ValidatePasswordInput" name="PasswordConfirm" required>
          <div class="invalid-feedback">
              Les mots de passe ne correspondent pas.
          </div>
      </div>

      <div class="text-center">
          <button type="button" class="btn btn-primary" id="btn-validation-inscription" disabled>Inscription</button>
      </div>
  </form>
</div>
