<div class="hero-scene text-center text-white">
    <div class="hero-scene-content">
        <h1>Covoiturage</h1>
        <form id="searchForm" class="d-flex" role="search">
            <input id="departInput" class="form-control me-2" type="text" placeholder="Départ" required>
            <input id="arriveInput" class="form-control me-2" type="text" placeholder="Arrivée" required>
            <input id="datedInput" class="form-control me-2" type="date" required>
            <button class="btn btn-outline-success" type="button" id="Recherchertrajet">Rechercher</button>
          </form>
      </div>
      <div id="alltrajetImages" class="mt-4"></div>
    </div>
</div>
